.homelabel{
    -fx-background-color: #FFEB9C;
}
.headlinelabel{
    -fx-background-color: #146194;
}
.feildTableView{
    -fx-background-color: #D9D9D9;
}
/* #titleLabel {
    -fx-background-color: #146194;
} */